.cal-entry {
    white-space: nowrap;
}

.week-cal {
    font-size: 0.8em;
}

h1 a {
    padding: 0;
}
ol li, ul li {
    margin: 0;
}
.post-content {
    font-size: 0.8em;
}
.listing-item {
    font-size: 0.8em;
}
